.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.custom-link {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

.custom-link:hover {
  background-color: #058f38;
  color: #fff;
}

.custom-link:active {
  background-color: #058f38;
  color: #fff;
}
