/* Footer.css */
.footer {
  background-color: #198754; /* Dark green color */
  color: var(--white);
  width: 99vw;
  padding: 1rem 0;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: var(--white);
  text-decoration: none;
}

.footer-social .social-icons {
  display: flex;
  gap: 10px;
}

.footer-social .social-icons a {
  color: var(--white);
  font-size: 24px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-logo {
  height: 70px;
  width: 105px;
  background: url("./images/A2.png") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .footer-inner {
    margin: 2vw;
  }

  .footer-section h3 {
    font-size: 15px;
  }

  .footer-section ul li a {
    font-size: 12px;
  }

  .footer-logo {
    height: 60px;
    width: 90px;
  }

  .footer-bottom {
    flex-wrap: nowrap;
  }

  .footer-text h6 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-social {
    width: 100%;
    text-align: center;
  }
}
